# Ignorar arquivos objeto (gerados pela montagem)
*.o

# Ignorar todos os executáveis (sem extensão)
# Isso cobre arquivos como: dezena, loop, etc
*

# Mas ainda assim, incluir todos os arquivos .asm e .md
!*.asm
!*.md
!*.sh
!.gitignore
